<!-- main app container -->
<nav class="navbar navbar-info navbar-fixed-top" id="main-navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="navigation-index">
            <ul class="nav navbar-nav navbar-left" *ngIf="isLoggedIn">
                <li><a [routerLink]="['/places']">All places</a></li>
                <li><a [routerLink]="['/createplace']">Add place</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!isLoggedIn">
                <li class="cd-log_reg home"><a class="cd-signin" [routerLink]="['/login']">Login</a></li>
                <li class="cd-log_reg"><a class="cd-signup" [routerLink]="['/register']">Register</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn">
                <li class="cd-log_reg home"><a class="cd-signin" [routerLink]="['/profile']">Profile</a></li>
                <li class="cd-log_reg home"><a class="cd-signin" [routerLink]="['/logout']" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        Angular 2 SPA
    </p>
    <p>
        Team "Directive 14"
    </p>
</div>